<a href="https://colab.research.google.com/github/anshuldaksh2016/Data_structures_with_python/blob/master/assignments_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pattern: 1

1
12
123
1234
12345

In [0]:
n = int(input("Enter the n value"))

for i in range(1,n+1):

  for j in range(1,i+1):

    print(j , end = " ")
    j+=1
  i+=1
  print()

Enter the n value10
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [0]:
m = int(input("enter the n value : "))

for i in range(1,m):

  for j in range(m , 0 ):
    if j >= i:
      print(j , end= ' ')
      j-=1
    i+=1

enter the n value : 5